################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/EntityFramework/BaseExistente/.vs
/EntityFramework/BaseExistente/EfDbExistente/.vscode
/EntityFramework/BaseExistente/EfDbExistente/bin/Debug/net8.0
/EntityFramework/BaseExistente/EfDbExistente/obj
/Bonus/EluminiLoja/EluminiLoja/.vs/EluminiLoja
/Bonus/EluminiLoja/EluminiLoja/src/WebApp/bin/Debug
/Bonus/EluminiLoja/EluminiLoja/src/WebApp/obj
